export GCP_PROJECT_ID=$(gcloud config get project)
export DATASTORE_EMULATOR_CONTAINER_NAME=${GCP_PROJECT_ID}_datastore-emulator
export DATASTORE_EMULATOR_CONTAINER_INTERNAL_PORT=5266
export DATASTORE_EMULATOR_CONTAINER_PORT=$(docker port ${DATASTORE_EMULATOR_CONTAINER_NAME} | grep "${DATASTORE_EMULATOR_CONTAINER_INTERNAL_PORT}/tcp" | awk -F ' -> ' '{print $2}' | awk -F ':' '{print $2}')
export DATASTORE_DATASET=${GCP_PROJECT_ID}
export DATASTORE_EMULATOR_HOST=0.0.0.0:${DATASTORE_EMULATOR_CONTAINER_PORT}
export DATASTORE_EMULATOR_HOST_PATH=${DATASTORE_EMULATOR_HOST}/datastore
export DATASTORE_HOST=http://${DATASTORE_EMULATOR_HOST}
export DATASTORE_PROJECT_ID=${GCP_PROJECT_ID}
